li
  = link_to attachment.file.identifier, attachment.file.url
  -if can?(:destroy, attachment)
    = link_to ' [x]  ', attachment_path(attachment), method: :delete, remote: true, data: { confirm: "Sure?"}
