li
  = link_to attachment.file.identifier, attachment.file.url
  -if current_user.try(:author_of?, attachment.attachable)
    = link_to ' [x]  ', attachment_path(attachment), method: :delete, remote: true, data: { confirm: "Sure?"}
