<% if @subscription.errors.present? %>
  $('div#errors-field').html(" <div class='alert fade in alert-danger'> <%= j render 'common/errors', resource: @subscription %> </div>")
<% else %>
  $('div#errors-field').html('')
  $('#subscription-button').html("test ")
<% end %> 
