// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#edit-question-form {
  display: none;
}

#question-rating .rating {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;

}
