// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#edit-question-form {
  display: none;
}

.question-rating {
  display: inline-block;
  width: 60px;
  text-align: center;
  float: right;
}

.question-comments {
  margin-left: 100px;
  font-size: 12px;
  color: #837f7f;
}
